
.App {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
  background-color: aquamarine;
}

h1 {
  font-size: 2.5rem;
  color: #1bcc0e;
  margin-bottom: 20px;
  
}

button {
  font-size: 1.5rem;
  margin: 100px;
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}



